.card {
    width: 300px; /* Ukuran tetap untuk card */
    margin: 5px; /* Jarak antar card */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsif jumlah card */
    gap: 10px; /* Jarak antar card */
}